<% content_for :head do %>
<script type="text/javascript">
	
$(document).ready(function(){
  updateWeather(10036);
  twitterWidget();
  initialize();
});


</script>


<style type="text/css">
#slider-bg {
    background:url(/images/assets/bg-fader.gif) 5px 0 no-repeat;
}
</style>


<% end %>


<div id="wrapper">
	<div id="header">
		<div id="logo">
			<h1>POWER TRENDS 3000</h1>
			<h3>second place is a set of steak knives</h3>
		</div>
	</div>
	<!-- end #header -->
	<div id="menu">
		<ul>
			<li <%if params[:action] == 'index'%>class="current_page_item"<%end%>><a href="/">Consumers</a></li>
			<li <%if params[:action] == 'utility'%>class="current_page_item"<%end%>><a href="/main/utility">Utilities</a></li>
			<li <%if params[:action] == 'about'%>class="current_page_item"<%end%>><a href="/main/about">About</a></li>
		</ul>
	</div>
	<!-- end #menu -->        
	<div id="page">
		<div id="content">
			
			<div class="post">
				<h2 class="title"><a href="#">Don't Let Your Town Down</a></h2> 
				<p class="meta">SAVE ENERGY = GET $$$ FOR POTHOLE REPAIR</p>
				<div class="entry">
                                  <div style="height:400px" id="map" style="width:600;height:400;"></div>
				</div>
                                <!-- BEGIN SLIDER STUFF -->
<h4><span id="slider-value">0</span> Minutes Ago</h4>
<input autocomplete="off" id="slider-converted-value" value="0" size="4" maxlength="4" type="hidden"/>
<div id="slider-bg" class="yui-h-slider" tabindex="-1" title="Slider">
  <div id="slider-thumb" class="yui-slider-thumb"><img src="/images/assets/thumb-n.gif" /></div>
</div>

<!-- END SLIDER STUFF -->

			</div>
			<div style="clear: both;">&nbsp;</div>
			
			
			<b></b>

<% @city1 = params[:city1] ? params[:city1] : 'Bourne'
@city2 = params[:city2] ? params[:city2] : 'Brewster'%>
			
			
<h2>
	<select name="ShortCuts1" size="1" style="color: #000099; width: 247px; font-size: 22px; line-height: 21px; 
		font-family: arial, helvetica, sans-serif; background-color: #dcdcdc; border: solid 1pt; #000099" 
		onchange="if (this.options[selectedIndex].value != '') window.frames.frame_one.location.href = this.options[this.selectedIndex].value;">
			<% @cities.each { |i,c| %>
			<option value="http://capelight.groundedpower.com/feed/yahoo_display?town=<%=c%>" <%if @city1 == c%> SELECTED<%end%>><%=c%></option>
			<% }%>
		
		</select> 

		
	 VS 	
	 
	<select name="ShortCuts2" size="1" style="color: #000099; width: 247px; font-size: 22px; line-height: 21px;
		font-family: arial, helvetica, sans-serif; background-color: #dcdcdc; border: solid 1pt; #000099" 
		onchange="if (this.options[selectedIndex].value != '') window.frames.frame_two.location.href = this.options[this.selectedIndex].value;">
			<% @cities.each { |i,c| %>
			<option value="http://capelight.groundedpower.com/feed/yahoo_display?town=<%=c%>" <%if @city2 == c%> SELECTED<%end%>><%=c%></option>
			<% }%>
		
		</select> 
		
	 </h2>
			
			
<iframe name="frame_one" src ="http://capelight.groundedpower.com/feed/yahoo_display?town=Bourne" width="100%" height="150">
  <p>Your browser does not support iframes.</p>
</iframe>


<iframe name="frame_two" src ="http://capelight.groundedpower.com/feed/yahoo_display?town=Brewster" width="100%" height="150">
  <p>Your browser does not support iframes.</p>
</iframe>

		</div>
		<!-- end #content -->
		<div id="sidebar">
			<ul>
				<li>
					<h2><%=(Time.now+10800).strftime("%I:%M %p")%></h2>
					
					
					
				</li>
				<li>
				

<div id="twtr-search-widget"></div>

<div id="weather_info"></div>
				<p />
		 
		</div>
		<!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>
	</div>
	<!-- end #page -->
</div>


<div id="footer-content">




</div>
<div id="footer">

</div>
<!-- end #footer -->
 