

<div id="wrapper">
	<div id="header">
		<div id="logo">
			<h1>POWER TRENDS 3000</h1>
			<h3>second place is a set of steak knives</h3>
		</div>
	</div>
	<!-- end #header -->
	<div id="menu">
		<ul>
			<li <%if params[:action] == 'index'%>class="current_page_item"<%end%>><a href="/">Consumers</a></li>
			<li <%if params[:action] == 'utility'%>class="current_page_item"<%end%>><a href="/main/utility">Utilities</a></li>
			<li <%if params[:action] == 'about'%>class="current_page_item"<%end%>><a href="/main/about">About</a></li>
		</ul>
	</div>
	<!-- end #menu -->
	<div id="page">
		<div id="content">
			
			<div class="post">
				<h2 class="title"><a href="#">Don't Let Your Town Down</a></h2> 
				<p class="meta">SAVE ENERGY = GET $$$ FOR POTHOLE REPAIR</p>
				<div class="entry">
				
				<iframe width="600" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=brooklyn,ny&amp;sll=37.0625,-95.677068&amp;sspn=40.27343,82.880859&amp;ie=UTF8&amp;hq=&amp;hnear=Brooklyn,+Kings,+New+York&amp;z=13&amp;ll=40.650104,-73.949582&amp;output=embed"></iframe><br /><small></small>
			
				</div>
			</div>
			<div style="clear: both;">&nbsp;</div>
			
			
			<b></b>

<% @city1 = params[:city1] ? params[:city1] : 'Bourne'
@city2 = params[:city2] ? params[:city2] : 'Brewster'%>
			
			
<h2>
	<select name="ShortCuts1" size="1" style="color: #000099; width: 247px; font-size: 22px; line-height: 21px; 
		font-family: arial, helvetica, sans-serif; background-color: #dcdcdc; border: solid 1pt; #000099" 
		onchange="if (this.options[selectedIndex].value != '') window.frames.frame_one.location.href = this.options[this.selectedIndex].value;">
			<% @cities.each { |i,c| %>
			<option value="http://capelight.groundedpower.com/feed/yahoo_display?town=<%=c%>" <%if @city1 == c%> SELECTED<%end%>><%=c%></option>
			<% }%>
		
		</select> 

		
	 VS 	
	 
	<select name="ShortCuts1" size="1" style="color: #000099; width: 247px; font-size: 22px; line-height: 21px; 
		font-family: arial, helvetica, sans-serif; background-color: #dcdcdc; border: solid 1pt; #000099" 
		onchange="if (this.options[selectedIndex].value != '') window.frames.frame_two.location.href = this.options[this.selectedIndex].value;">
			<% @cities.each { |i,c| %>
			<option value="http://capelight.groundedpower.com/feed/yahoo_display?town=<%=c%>" <%if @city2 == c%> SELECTED<%end%>><%=c%></option>
			<% }%>
		
		</select> 
		
	 </h2>
			
			
<iframe name="frame_one" src ="http://capelight.groundedpower.com/feed/yahoo_display?town=Bourne" width="100%" height="150">
  <p>Your browser does not support iframes.</p>
</iframe>


<iframe name="frame_two" src ="http://capelight.groundedpower.com/feed/yahoo_display?town=Brewster" width="100%" height="150">
  <p>Your browser does not support iframes.</p>
</iframe>

		</div>
		<!-- end #content -->
		<div id="sidebar">
			<ul>
				<li>
					<h2><%=(Time.now+10800).strftime("%I:%M %p")%></h2>
					
					
					
				</li>
				<li>
				

<div id="twtr-search-widget"></div>
<script src="http://widgets.twimg.com/j/1/widget.js"></script>
<link href="http://widgets.twimg.com/j/1/widget.css" type="text/css" rel="stylesheet">
<script>
new TWTR.Widget({
search: '#powertrends',
id: 'twtr-search-widget',
loop: true,
title: 'Power Trends',
subject: 'Cape Cod, MA',
width: 250,
height: 300,
theme: {
shell: {
background: '#ad3030',
color: '#ffffff'
},
tweets: {
background: '#ffffff',
color: '#444444',
links: '#1985b5'
}
}
}).render().start();
</script>

<div id="weather_info"></div>
				<p />
		 
		</div>
		<!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>
	</div>
	<!-- end #page -->
</div>
<div id="footer-content">




</div>
<div id="footer">

</div>
<!-- end #footer -->
 


 

 
<script type="text/javascript">
var slider;

function updateWeather() {
    $.ajax({
        type: "GET",
        url: "/main/get_weather?zipcode=10036",
        dataType: "text",
        success: function(data) {
           // alert("2");
              $("#weather_info").html(data);              
        }
    });
}
</script>
