<% content_for :head do %>
<script type="text/javascript">
	
$(document).ready(function(){
  updateWeather(10036);
  twitterWidget();
  initialize();
});

(function() {
    var Event = YAHOO.util.Event,
        Dom   = YAHOO.util.Dom,
        lang  = YAHOO.lang,
        slider,
        bg="slider-bg", thumb="slider-thumb",
        valuearea="slider-value", textfield="slider-converted-value"

    // The slider can move 0 pixels up
    var topConstraint = 0;

    // The slider can move 200 pixels down
    var bottomConstraint = 200;

    // Custom scale factor for converting the pixel offset into a real value
    var scaleFactor = 0.12;

    // The amount the slider moves when the value is changed with the arrow
    // keys
    var keyIncrement = 10;

    var tickSize = 20;

    Event.onDOMReady(function() {

        slider = YAHOO.widget.Slider.getHorizSlider(bg,
                         thumb, topConstraint, bottomConstraint, 10);

        // Sliders with ticks can be animated without YAHOO.util.Anim
        slider.animate = true;

        slider.getRealValue = function() {
            return Math.round(this.getValue() * scaleFactor);
        }

        slider.subscribe("change", function(offsetFromStart) {

            var valnode = Dom.get(valuearea);
            var fld = Dom.get(textfield);

            // Display the pixel value of the control
            valnode.innerHTML = offsetFromStart;

            // use the scale factor to convert the pixel offset into a real
            // value
            var actualValue = slider.getRealValue();

            // update the text box with the actual value
            fld.value = actualValue;

            // Update the title attribute on the background.  This helps assistive
            // technology to communicate the state change
            Dom.get(bg).title = "slider value = " + actualValue;

        });

        slider.subscribe("slideStart", function() {
                YAHOO.log("slideStart fired", "warn");
            });

        slider.subscribe("slideEnd", function() {
                YAHOO.log("slideEnd fired", "warn");
				map.clearOverlays();
				doStuff(thexml);

            });

        // Listen for keystrokes on the form field that displays the
        // control's value.  While not provided by default, having a
        // form field with the slider is a good way to help keep your
        // application accessible.
        Event.on(textfield, "keydown", function(e) {

            // set the value when the 'return' key is detected
            if (Event.getCharCode(e) === 13) {
                var v = parseFloat(this.value, 10);
                v = (lang.isNumber(v)) ? v : 0;

                // convert the real value into a pixel offset
                slider.setValue(Math.round(v/scaleFactor));
            }
        });

        // Use setValue to reset the value to white:
        Event.on("putval", "click", function(e) {
            slider.setValue(100, false); //false here means to animate if possible
        });

        // Use the "get" method to get the current offset from the slider's start
        // position in pixels.  By applying the scale factor, we can translate this
        // into a "real value
        Event.on("getval", "click", function(e) {
            YAHOO.log("Current value: "   + slider.getValue() + "\n" +
                      "Converted value: " + slider.getRealValue(), "info", "example");
        });
    });
})();

</script>


<style type="text/css">
#slider-bg {
    background:url(/images/assets/bg-fader.gif) 5px 0 no-repeat;
}
</style>


<% end %>


<div id="wrapper">
	<div id="header">
		<div id="logo">
			<h1>POWER TRENDS 3000</h1>
			<h3>second place is a set of steak knives</h3>
		</div>
	</div>
	<!-- end #header -->
	<div id="menu">
		<ul>
			<li <%if params[:action] != 'utility'%>class="current_page_item"<%end%>><a href="/">Consumers</a></li>
			<li <%if params[:action] == 'utility'%>class="current_page_item"<%end%>><a href="/main/utility">Utilities</a></li>
		</ul>
	</div>
	<!-- end #menu -->        
	<div id="page">
		<div id="content">
			
			<div class="post">
				<h2 class="title"><a href="#">Don't Let Your Town Down</a></h2> 
				<p class="meta">SAVE ENERGY = GET $$$ FOR POTHOLE REPAIR</p>
				<div class="entry">
                                  <div style="height:400px" id="map" style="width:600;height:400;"></div>
				</div>
			</div>
			<div style="clear: both;">&nbsp;</div>
			
			
			<b></b>

<% @city1 = params[:city1] ? params[:city1] : 'Bourne'
@city2 = params[:city2] ? params[:city2] : 'Brewster'%>
			
			
<h2>
	<select name="ShortCuts1" size="1" style="color: #000099; width: 247px; font-size: 22px; line-height: 21px; 
		font-family: arial, helvetica, sans-serif; background-color: #dcdcdc; border: solid 1pt; #000099" 
		onchange="if (this.options[selectedIndex].value != '') window.frames.frame_one.location.href = this.options[this.selectedIndex].value;">
			<% @cities.each { |i,c| %>
			<option value="http://capelight.groundedpower.com/feed/yahoo_display?town=<%=c%>" <%if @city1 == c%> SELECTED<%end%>><%=c%></option>
			<% }%>
		
		</select> 

		
	 VS 	
	 
	<select name="ShortCuts2" size="1" style="color: #000099; width: 247px; font-size: 22px; line-height: 21px;
		font-family: arial, helvetica, sans-serif; background-color: #dcdcdc; border: solid 1pt; #000099" 
		onchange="if (this.options[selectedIndex].value != '') window.frames.frame_two.location.href = this.options[this.selectedIndex].value;">
			<% @cities.each { |i,c| %>
			<option value="http://capelight.groundedpower.com/feed/yahoo_display?town=<%=c%>" <%if @city2 == c%> SELECTED<%end%>><%=c%></option>
			<% }%>
		
		</select> 
		
	 </h2>
			
			
<iframe name="frame_one" src ="http://capelight.groundedpower.com/feed/yahoo_display?town=Bourne" width="100%" height="150">
  <p>Your browser does not support iframes.</p>
</iframe>


<iframe name="frame_two" src ="http://capelight.groundedpower.com/feed/yahoo_display?town=Brewster" width="100%" height="150">
  <p>Your browser does not support iframes.</p>
</iframe>

		</div>
		<!-- end #content -->
		<div id="sidebar">
			<ul>
				<li>
					<h2><%=(Time.now+10800).strftime("%I:%M %p")%></h2>
					
					
					
				</li>
				<li>
				

<div id="twtr-search-widget"></div>

<div id="weather_info"></div>
				<p />
		 
		</div>
		<!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>
	</div>
	<!-- end #page -->
</div>

<!-- BEGIN SLIDER STUFF -->
<h1>Hello Slider</h1>
<div id="slider-bg" class="yui-h-slider" tabindex="-1" title="Slider">
    <div id="slider-thumb" class="yui-slider-thumb"><img src="/images/assets/thumb-n.gif" /></div>
</div>

<p>Pixel value: <span id="slider-value">0</span></p>

<p>Converted value:
<input autocomplete="off" id="slider-converted-value" type="text" value="0" size="4" maxlength="4" />
</p>

<!--We'll use these to trigger interactions with the Slider API -->
<button id="putval">Change slider value to 100 (converted value 150)</button>
<button id="getval">Write current value to the Logger</button>

<!-- END SLIDER STUFF -->

<div id="footer-content">




</div>
<div id="footer">

</div>
<!-- end #footer -->
 