<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  
  <title>Power Trends</title>
 

<link href="/stylesheets/style.css" rel="stylesheet" type="text/css" media="screen" />

<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.0r4/build/fonts/fonts-min.css" />

  <!-- Dependencies -->
<%= javascript_include_tag "http://yui.yahooapis.com/2.8.0r4/build/yahoo-dom-event/yahoo-dom-event.js" %>
<%= javascript_include_tag "http://yui.yahooapis.com/2.8.0r4/build/dragdrop/dragdrop-min.js" %>
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key=ABQIAAAAx53IJ8Jq0mwNkQxyokAKXhRmlXuok5xVNgNBlcaDei5PeNLEAhSN-YCJbQ05VOLHWeAl95R2Ce2bqQ" type="text/javascript"></script>
<!-- Slider skin (optional) -->
<%=stylesheet_link_tag "http://yui.yahooapis.com/2.8.0r4/build/slider/assets/skins/sam/slider.css" %>
<!-- Slider source file -->
<%= javascript_include_tag "http://yui.yahooapis.com/2.8.0r4/build/slider/slider-min.js" %>

<!-- jQuery -->
<%= javascript_include_tag "jquery-1.3.2.min","power-map", "widgets" %>

<%= javascript_include_tag "http://widgets.twimg.com/j/1/widget.js" %>
<%= stylesheet_link_tag "http://widgets.twimg.com/j/1/widget.css" %>


 <%= yield :head %>

</head>

<body class="yui-skin-sam">

<p style="color: green"><%= flash[:notice] %></p>


<%= yield %>

</body>
</html>
